@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

body.pokaKoszyk .koszyk {
    inset: 0 0 0 auto;
}

body.pokaKoszyk .blok {
    transform: translateX(-250px);
}

svg {
    width: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

header .ikona-koszyk {
    position: relative;
    cursor: pointer;
}

header .ikona-koszyk span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 80%;
    right: -15px;
    width: 20px;
    height: 20px;
    font-size: .7rem;
    background-color: red;
    color: whitesmoke;
    border-radius: 50%;
}

.blok {
    margin: auto;
    padding-top: 15px;
    width: 1000px;
    max-width: 90vh;
    text-align: center;
    transition: transform .5s;
}

.listaProduktow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.listaProduktow .item {
    padding: 20px;
    background-color: rgb(255, 142, 142);
    border-radius: 18px;
}

.listaProduktow .item img {
    width: 95%;
    filter: drop-shadow(0 15px 20px rgba(0, 0, 0, 0.8));
}

.listaProduktow .item h2 {
    font-weight: 500;
    font-size: large;
}

.listaProduktow .item .cena {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Red Hat Text';
    letter-spacing: 5px;
    font-size: .6rem;
}

.listaProduktow .item .nazwa {
    font-size: .6rem;
}

.listaProduktow .item button {
    width: 100%;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: .6rem;
    background-color: rgb(10, 10, 10);
    color: rgb(170, 170, 170);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.listaProduktow .item button:hover {
    color: whitesmoke;
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

/* Koszyk */
.koszyk {
    position: fixed;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    inset: 0 -400px 0 auto;
    width: 400px;
    background-color: rgb(59, 59, 59);
    color: rgb(255, 76, 76);
    transition: .5s;
}

.koszyk h1 {
    margin: 0;
    padding: 20px;
    font-weight: 300;
}

.koszyk .przycisk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.koszyk button {
    border: none;
    background-color: rgb(255, 46, 46);
    font-weight: 600;
    font-family: 'Red Hat Text';
    cursor: pointer;
}

.koszyk .przycisk .zamknij {
    background-color: rgb(199, 199, 199);
}

.koszyk .lista .item {
    display: grid;
    align-items: center;
    grid-template-columns:  90px 140px 60px 1fr;
    gap: 8px;
    text-align: center;
}

.koszyk .item:nth-child(even) {
    background-color: rgb(79, 79, 79);
}

.koszyk .lista .item img {
    width: 100%;
}

.koszyk .ilosc span {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-family: 'Red Hat Text';
    border-radius: 50%;
    background-color: rgb(255, 142, 142);
    color: black;
    cursor: pointer;
}

.koszyk .ilosc span:nth-child(2) {
    background-color: transparent;
    color: rgb(255, 142, 142);
}

.lista {
    overflow: auto;
}

.lista::-webkit-scrollbar {
    width: 0;
}