@import url(https://fonts.googleapis.com/css?family=Red+Hat+Mono:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Mono";
  font-size: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 50px;
}

header .koszykIkona {
  position: relative;
  z-index: 1;
}

header .calaIlosc {
  position: absolute;
  top: 28px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(232, 232, 232);
  background-color: rgb(255, 65, 65);
  transform: translateX(-5px);
}

.blok {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  transition: transform 1s;
}
